<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ADX INTERACTIVE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<style>
    * {
        font-family: 'proxima-nova';
    }

    .form-controls::-moz-placeholder {
        color: #fff;
    }

    .form-controls:-ms-input-placeholder {
        color: #fff;
    }

    .form-controls::-webkit-input-placeholder {
        color: #fff;
    }

    .grid__item:hover {
        box-shadow: 0 5px 5px rgba(0, 0, 0, .16);
        transform: translate(0, -10px);
        transition-delay: 0s !important;
    }

    @media (min-width:300px) {
        .ele {
            background: #fff;
        }
        .contact{
            background: #fff;
        }
    }
    

    @media (min-width:600px) {
        .ele {
            background-image: url('images/vec1.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        .contact {
            background-image: url('images/contact.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">ADX</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" style="margin-left:20px;margin-right:20px;" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="margin-left:20px;margin-right:20px;" href="/about">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="margin-left:20px;margin-right:20px;" href="/">Capabilities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="margin-left:20px;margin-right:20px;" href="/about">Why ADX</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="margin-left:20px;margin-right:70px;" href="/">Contact us</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- header start -->
    <div class="jumbotron ele">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h1><span style="color:#4801a0;font-weight:bold">ADX</span>
                        <span style="color:#FF6D00;font-weight:bold"> Interactive</span></h1>
                    <p class="mt-1">We are Hyderabad's award winning creative agency , specializing in promoting your
                        brand
                        message through paper cups advertising.</p>
                    <div class="row mt-5">
                        <button type="button" style="background:#4801a0;border-radius:20px"
                            class="btn btn-primary pt-1">Let's
                            Connect</button>
                        <a href="#" style="color:#4801a0;margin-top:5px;" class="ml-4 text-center">Know more</a>
                    </div>
                </div>
                <div class="col-lg-4 mt-3">
                    <img src="images/image.png" alt="">
                </div>
            </div>
            <p class="mt-5">The world's best companies rely on us to make better advertising campaigns</p>
            <div class="row">
                <div class="col-md-2">
                    <img src="images/ibm.png" class="mr-4 mb-2" alt="alt">
                </div>
                <div class="col-md-2">
                    <img src="images/company.png" class="mr-4 mb-2" alt="alt">
                </div>
                <div class="col-md-2">
                    <img src="images/intel.png" class="mr-4 mb-2" alt="alt">
                </div>
                <div class="col-md-2">
                    <img src="images/capital.png" class="mr-4 mb-2" alt="alt">
                </div>
                <div class="col-md-2">
                    <img src="images/google.png" class="mr-4 mb-2" alt="alt">
                </div>
                <div class="col-md-2">
                    <img src="images/amazon.png" class="mr-4 mb-2" alt="alt">
                </div>
            </div>
        </div>
    </div>
    <!-- header end -->

    @!section('content')

    <!-- contact us start -->
    <div class="contact">
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-7">
                    <p><b>Let's grow your brand</b></p>
                    <p>Drop a message to us,we would reach you at the earliest</p><br>
                    <form action="/posts/store" method="POST" encType="multipart/form-data">
                        <div class="form-group">
                            <input type="text" name="fullName" class="form-control" placeholder="Enter full name">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" name="phoneNumber" class="form-control" placeholder="Phone number">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" name="mail" class="form-control" placeholder="Mail I'd">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="subject" class="form-control" placeholder="Subject">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="3" placeholder="Message"></textarea>
                        </div><br><br>
                        <input type="submit" value="submit" class="btn"
                            style="background:#7624db;color:#fff;padding-left: 45px;padding-right: 45px">

                    </form>
                </div>
                <div class="col-lg-5 mt-2">
                    <p><b>Contact us at</b></p>
                    <p>Eager to get connected ? Grab your phone</p>
                    <br>
                    <p>For general enquiries<br>contact@adxinteractive.com</p>
                    <p>New business and campaign enquiries <br>sales@adxinterctive.com</p>
                    <p>Call us<br>+91 8886998365</p>
                </div>
            </div>
        </div>
    </div>
    <!-- contact us end -->
    <!-- footer start -->
    <div style="background:#4801a0;color:white" class="mt-5">
        <div class="container pt-5 pb-5">
            <div class="row">
                <div class="col-lg-6">

                    <p>Privacy Policy</p>
                    <p>Terms of use</p>
                    <p>Careers</p>
                    <hr>
                </div>
                <div class="col-lg-6">
                    <p><b>Social connects</b></p>
                    <div class="row">
                        <div class="col-auto">
                           <a href="https://www.linkedin.com/in/adx-interactive-b626a8183/" style="color:#fff"><i class="fa fa-linkedin-square" style="font-size:24px"></i></a>
                        </div>
                        <div class="col-auto">
                           <a href="https://www.facebook.com/ADX-Interactive-2242348425980702/" style="color:#fff"><i class="fa fa-facebook-official" style="font-size:24px"></i></a>
                        </div>
                        <div class="col-auto">
                           <a href="https://www.instagram.com/adx_interactive/" style="color:#fff"><i class="fa fa-instagram" style="font-size:24px"></i></a>
                        </div>
                    </div>
                    <br>
                    <p>Want to hear us frequently ? <br> Subscribe now</p>
                    <form action="/storeSubscriptions" method="POST" encType="multipart/form-data">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control form-controls"
                                    style="background:#7624db;color: white" name="mail"
                                    placeholder="Enter your email ID">
                            </div>
                            <div class="form-group col-md-6">
                                <button type="submit" class="btn" style="background:#eee">SignUp</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            Copyrights 2019 - All Rights Reserved. Designed by <b>ADX</b> interactive
        </div>
    </div>
    <!-- footer end -->

    <script>
        $(".nav-item .nav-link").on("click", function () {
            $(".active").removeClass("active");
            $(this).addClass("active");
        });
    </script>
</body>

</html>