<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="card m-5 p-5" width="100%">
        <div class="mt-5" align="right">
            <img src="images/logo.png" alt="">
        </div>
        <div>
            <h3><b><u>Privacy Policy</u></b></h3><br><br>
            <p>This privacy policy informs you how we use personal information collected at this website.
                Please read this before submitting any personal information. By using our site, you are
                accepting the practices described in this privacy policy. We always encourage you to review
                the privacy policy whenever you visit the site to make sure that you understand how any
                personal information you provide will be used. <br><br>
                We are dedicated to protecting your privacy, and handling any personal information we
                obtain from you with care and respect. We will not give, sell, share, or rent your information
                with others. If you have any questions regarding the information we provide, please feel free
                to contact us.</p><br>
            <h4>Collection of Information:</h4><br>
            <p>We collect personally identifiable information like names, postal address and email address
                when voluntarily submitted by our visitors. This information is only used to fulfill your
                specific request, unless you give us permission to use it in another manner, for example to
                add you to one of our mailing lists.</p>
            <h4>Distribution of Information:</h4><br>
            <!-- <p>We may share information with governmental agencies or other companies assisting us in
                fraud prevention or investigation. We may do so when: (1) permitted or required by law; or,
                (2) trying to protect against or prevent actual or potential fraud or unauthorized transactions;
                or, (3) investigating fraud which has already taken place. The information is not provided to
                these companies for marketing purposes.</p>-->
            <p>Your personally identifiable information is kept secure. Only authorized employees, agents -->
                and contractors (who have agreed to keep information secure and confidential) have access to
                this information. All emails and newsletters from this site allow you to opt out of further
                mailings.</p><br><br>
            <h5><b>We reserve the right to make changes to this policy.</b></h5>
            <br><br>
            <div align="center">
                <a href="Privacy policy1.pdf" download><i class="fa fa-download" style="font-size:24px"></i> Download Privacy Policy</a>
            </div>
        </div>
    </div>

</body>

</html>