<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="card m-5 p-5" width="100%">
        <div class="mt-5" align="right">
            <img src="images/logo.png" alt="">
        </div>
        <div>
            <h3><b><u>Terms and Conditions</u></b></h3><br><br>
            <p>All reasonable measures are taken by us to ensure that the website is operational all day, every
                day. However, occasionally technical issues may result in some downtime and accordingly we
                will not be liable if this website is unavailable at any time. Where possible, we always try to give
                advance warning of maintenance issues that may result in website down time but we shall not be
                obliged to provide such notice.</p><br><br>
            <h4>Manufacturing of paper cups:</h4><br>
            <ul>
                <li>The stipulated time frame to manufacture paper cups is 3 weeks. However, there may be
                    a situation wherein it may take more than 3 weeks due to unavailability of labour, raw
                    materials or resources. You are requested to bear with this.</li>
                <li>
                    The raw material used to manufacture the paper cups will be strictly from ITC
                    paperboard. However, in case on unavailability, an alternate material which is at par with
                    ITC will be used.
                </li>
                <li>
                    The ink used on the paper cups is food-grade equivalent. Due to conditions such as
                    uneven drying of ink, the paper cup may emit a slight odour. Please note, under such
                    conditions, the paper cups are 100% safe to use, non-hazardous and will not cause any
                    untoward health conditions.
                </li>
            </ul>
            <br><br>
            <h4>Distribution of paper cups:</h4><br>
            <ul>
                <li>
                    Every campaign carried out by ADX Interactive has a minimum 1 lakh branded paper
                    cups distributed. Due to logistic issues, sometimes there may be an excess or deficit. In
                    case of deficit, ADX Interactive will bear the expenses.
                </li>
                <li>
                    ADX Interactive has a fixed list of colleges and offices in every city where the marketing
                    media are distributed. This list will be shared with you during the campaign. For any
                    reason if ADX Interactive is not able to distribute the media to a particular college/office,
                    we are not responsible.
                </li>
                <li>
                    Branded paper cups by ADX Interactive are purely a marketing and branding medium
                    and we do not guarantee sales, conversions or output of your product/service. It is best
                    served for the purpose of Branding your name and creating a high recall of your brand
                    with your customers.
                </li>
            </ul>
            <br><br>
            <h4>Receiving of paper cup- Touchpoint Notice:</h4>
            <ul>
                <li>
                    ADX Interactive distributes its marketing media to colleges/offices only when it is
                    conducting a campaign. We are not liable to distribute paper cups on a monthly basis.
                </li>
                <li>
                    It is completely at our discretion if we want to distribute paper cups to a particular
                    college/office or not. We may also withdraw distributing marketing media to a
                    college/office for future campaigns.
                </li>
                <li>
                    The marketing media distributed have to be used by that facility only. It cannot be
                    transferred, distributed or shared to any third persons/companies.
                </li>
                <li>
                    It is important that the marketing media distributed is used within the time frame of the
                    campaign. ADX Interactive is distributing the paper cups for immediate use, and hence
                    cannot be stored.
                </li>
                <li>
                    If for any reason, you do not use all the paper cups, the excess have to be returned to us.
                </li>
                <li>
                    ADX Interactive will not be responsible if the marketing media emits a slight odour. If
                    such be the case, patrons can be assured that it is completely safe to serve hot/cold
                    beverages.
                </li>
            </ul><br><br>
            <h4>Campaign:</h4>
            <ul>
                <li>
                    Post the completion of the campaign; you will be given a campaign report. ADX
                    Interactive has the right to use the report for promotion, marketing and pitching for future
                    clients.
                </li>
                <li>
                    We may also publish such reports on the internet and social media platforms.
                </li>
                <li>
                    The photographs taken during the campaign may not always be authentic. For example: If
                    the campaign is in Delhi, but due to unavailability of our photographer, and photographs
                    cannot be taken, then we have the right to take pictures from our location. You can be
                    assured that this in no way will affect your reach and distribution of branded paper cups.
                </li>
                <li>
                    The campaign photographs are always taken after the consent of the person, and each one
                    is notified of its use and distribution.
                </li>
                <li>
                    ADX Interactive has the right to publish pictures taken during the campaign on social
                    media platforms.
                </li>
            </ul>
            <br><br>
            <h5><b>These terms are subjected to change as and when new policies are introduced.</b></h5>
            <br><br>
            <div align="center">
                <a href="Terms and Conditions1.pdf" download><i class="fa fa-download" style="font-size:24px"></i>
                    Download Terms & Conditions</a>
            </div>
        </div>
    </div>

</body>

</html>